#menu .button a{
   color: #666666;
   text-decoration: none;
}

#menu .button:hover a{
   color: darkgray;
   text-shadow:0px 0px 0px #FFFFFF;
}



#joinusOk{
   width: 100px;
}

.buttonContainer{
   margin-top: 10px;
}

#popupOK{
   display: none;
}

#popupFail{
   display: none;
}

#popupJoinus{
   display: block;
}

