body{
   background-color:white;
   margin:0;
   padding:0;
}

div{
   maring:0;
   padding:0;
}

#fps{
   display:none;
   width:100%;
   height:30px;
}

#input{
   display:none;
   position:absolute;
   width:100px;
   z-index:9999;
}

canvas{
   background-color:white;
   width:1000px;
   height:400px;
}