html, body {
   width:  100%;
   height: 100%;
   margin: 0px;
   padding:0;
}

#canvas{
   z-index=0;
}

#fps{
   display:none;
   width:100%;
   height:20px;
}

#input{
   display:none;
   position:absolute;
   width:100px;
   z-index:9999;
}

*{
   margin:0px;
   padding:0px;
}

#menu{
   width:100%;
   height:40px;
}