html, body {
   background-color:white;
   width:  100%;
   height: 100%;
   margin: 0px;
   padding:0;
}

div{
   maring:0;
   padding:0;
}

#fps{
   display:none;
   width:100%;
   height:30px;
}

#input{
   display:none;
   position:absolute;
   width:100px;
   z-index:9999;
}

