.popupDeco{
   z-index: 10;
   position: absolute;
   top: 15%;
   width: 300px;
   border-radius: 20px;
   padding: 0px;
   -webkit-box-shadow: 0 0 10px #333333;
}

.popupTitle{
   color: rgb(104, 194, 255);
   font-size:40px;
   background-color: black;
   text-align: center;
   border-radius: 20px 20px 0 0;
   text-decoration: underline;
}

.popupContent{
   padding-top: 4px;
   padding-bottom: 25px;
   color: black;
   background-color: #111111;
   text-align: center;
   border-radius: 0 0 20px 20px;
}

.popupContent input{
   margin: 5 auto 5 auto;
   text-align: center;
   font-size:15px;
}

.popupContent .errorMsg{
   display: none;
   color: white;
   text-shadow:0px 0px 10px #FF0000;
}

.popupContent .button {
   -webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 2px;
   border-bottom-left-radius: 0.5em 0.5em;
   border-bottom-right-radius: 0.5em 0.5em;
   border-top-left-radius: 0.5em 0.5em;
   border-top-right-radius: 0.5em 0.5em;
   cursor: pointer;
   display: inline-block;
   font: normal normal normal 14px/100% Arial, Helvetica, sans-serif;
   margin: 0px 2px;
   outline: none;
   padding: 0.5em 2em 0.55em;
   text-align: center;
   text-decoration: none;
   text-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 1px;
   vertical-align: baseline;
   zoom: 1;
   background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00ADEE), to(#0078A5));
   border: 1px solid #0076A3;
   color: #D9EEF7;
}

.popupContent .button:hover {
   background: #007ead;
   background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
   background: -moz-linear-gradient(top,  #0095cc,  #00678e);
   filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}

.popupContent .button:active {
   color: #80bed6;
   background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
   background: -moz-linear-gradient(top,  #0078a5,  #00adee);
   filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
