#menu {
   width  : "100%";
   height : 40px;

   line-height:40px;
   vertical-align:middle;

   /* from twitter interface */
   background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#111));
   position: relative;
   z-index:2;
}

#title {
   float:left;

   color: white;
   font-family : Helvetica, Arial, sans-serif;
   text-shadow:1px 1px 4px #AAAAAA;
   text-decoration : none;
   padding:0 10px 0 10px;
   font-weight: light;
}

#title:hover {
   text-shadow:1px 1px 8px #FFFFFF;
}

.subtitle{
   float: left;
   color: white;

   padding-left: 50px;
   padding-right: 50px;
}

.buttonBox {
   float:left;
}

#menu .vr {
   border-left: 1px solid #040404;
   border-right: 1px solid #2F2F2F;
   display: block;
   float: left;
   height: 26px;
   margin: 6px 3px 1px;
}

#menu .button {
   float: left;
   margin: 0px 10px;
}

#menu .button a{
   color: #CCCCCC;
   text-decoration: none;
}

#menu .button:hover a {
   color: lightgray;
   text-shadow:1px 1px 8px #FFFFFF;
}

#sessionBox .buttonSubmit {
   border: 0px;
   width: 50px;
   color: #CCC;
   background-color: transparent;
   font-family : Lucida;
   font-size : 16px;
}

#sessionBox .buttonSubmit:hover{
   text-shadow:1px 1px 8px #FFFFFF;
}

#sessionBox .button:hover a {
   text-shadow:1px 1px 8px #FFFFFF;
}

#sessionBox{
   float: right;
   margin-right: 20px;
   font-family : Lucida;
}

#sessionBox #errorMsg{
   float:left;
   color:red;
}

#sessionBox #userName{
   margin-right: 10px;
   float: left;
   color: #CCC;
}

#login {
   margin-right:10px;
   float:left;
}

#login input {
   width: 150px;
   margin-left: 10px;
}

