* {
   margin:0px;
   padding:0px;
}

body {
   background-color : #111;
   min-width: 1050px;
}

#menu {
   width  : "100%";
   height : 40px;

   line-height:40px;
   vertical-align:middle;

   /* from twitter interface */
   background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#111));
   position: relative;
   z-index:2;
}

#title {
   float:left;

   color: white;
   font-family : Helvetica, Arial, sans-serif;
   text-shadow:1px 1px 4px #AAAAAA;
   text-decoration : none;
   padding:0 10px 0 10px;
   font-weight: light;
}

#title:hover {
   text-shadow:1px 1px 8px #FFFFFF;
}

.subtitle{
   float: left;
   color: white;

   padding-left: 50px;
   padding-right: 50px;
}

.buttonBox {
   float:left;
}

#menu .button {
   float: left;
   margin: 0px 10px;
}

#menu .button a{
   color: #CCCCCC;
   text-decoration: none;
}

#menu .button:hover a {
   color: lightgray;
   text-shadow:1px 1px 8px #FFFFFF;
}

#sessionBox .button {
   color: white;
   float:left;
   margin-right: 10px;
   margin-left: 10px;
}

#sessionBox .button:hover a {
   text-shadow:1px 1px 8px #FFFFFF;
}

#sessionBox{
   margin-right: 20px;
   float: right;
}

#login {
   margin-right:10px;
   float:left;
}

#login input {
   width: 150px;
   margin-left: 10px;
}

#menu .vr {
   border-left: 1px solid #040404;
   border-right: 1px solid #2F2F2F;
   display: block;
   float: left;
   height: 26px;
   margin: 6px 3px 1px;
}

#body {
   align: center;
   margin: 10px;
   margin-top: 0px;

   border-radius: 15px;

   position: relative;
   z-index:1;

   background-color : white;

   moz-box-shadow:inset 0 0 10px #000000;
   -webkit-box-shadow:inset 0 0 10px #000000;
   box-shadow:inset 0 0 10px #000000;
}

#help {
   display: block;
   position: absolute;
   width: 200px;
   border-radius: 15px;
   z-index: 2;
   padding: 5px;
   background: rgba(0, 0, 0, 0.3);
   color: white;
   box-shadow: 1px 1px 8px #FFFFFF;
}

#help a {
   color: white;
   text-decoration: none;
   text-shadow:1px 1px 8px #FFFFFF;
}

#helpclose {
   float:right;
}

